@page
@model ExLog.Pages.Exercises.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Exercise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Exercise.Name" class="control-label"></label>
                <input asp-for="Exercise.Name" class="form-control" />
                <span asp-validation-for="Exercise.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.NumberOfSets" class="control-label"></label>
                <input asp-for="Exercise.NumberOfSets" class="form-control" />
                <span asp-validation-for="Exercise.NumberOfSets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.NumberOfReps" class="control-label"></label>
                <input asp-for="Exercise.NumberOfReps" class="form-control" />
                <span asp-validation-for="Exercise.NumberOfReps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.Weight" class="control-label"></label>
                <input asp-for="Exercise.Weight" class="form-control" />
                <span asp-validation-for="Exercise.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

