@page
@model ExLog.Pages.Exercises.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercise.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise.NumberOfSets)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercise.NumberOfSets)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise.NumberOfReps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercise.NumberOfReps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercise.Weight)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Exercise.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
