@page
@model ExLog.Pages.Exercises.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercise.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise.NumberOfSets)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercise.NumberOfSets)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise.NumberOfReps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercise.NumberOfReps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercise.Weight)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Exercise?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
