@page
@model ExLog.Pages.Exercises.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exercise[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercise[0].NumberOfSets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercise[0].NumberOfReps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercise[0].Weight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Exercise) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfReps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
